# Edit this file to introduce tasks to be run by cron.
#
# Each task to run has to be defined through a single line
# indicating with different fields when the task will be run
# and what command to run for the task
#
# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').
#
# Notice that tasks will be started based on the cron's system
# daemon's notion of time and timezones.
#
# Output of the crontab jobs (including errors) is sent through
# email to the user the crontab file belongs to (unless redirected).
#
# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
#
# For more information see the manual pages of crontab(5) and cron(8)
#
# m h   dom mon dow   command
 15 17  *   *   *     /home/debian/docker-run-with-logging.sh daily-crontabs
 45 *   *   *   *     /home/debian/docker-run-with-logging.sh hourly-crontabs
  0 *   *   *   *     /home/debian/docker-run-with-logging.sh update-checker-full
 50 19  *   *   5     /home/debian/docker-run-with-logging.sh lnj-twitch-bot

# Every 2 minutes except on minute 0 :maddyS:
2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58 * * * * /home/debian/docker-run-with-logging.sh update-checker
