services:
  frontend:
    image: max480/random-stuff-frontend
    hostname: frontend
    network_mode: host
    restart: on-failure
    env_file: secret_constants_frontend
    volumes:
      - /home/debian/shared:/shared
      - /home/debian/logs:/var/lib/jetty/logs
      - /etc/letsencrypt/live/maddie480.ovh/keystore:/var/lib/jetty/etc/keystore.p12
    deploy:
      resources:
        limits:
          cpus: 2
          memory: 2G

  backend:
    image: max480/random-stuff-backend
    hostname: backend
    network_mode: host
    restart: on-failure
    env_file: secret_constants_backend
    command: ["/bin/bash", "-c", "/app/run_bot.sh"]
    volumes:
      - /home/debian/backend:/backend
      - /home/debian/shared:/shared
      - /home/debian/logs:/logs
    deploy:
      resources:
        limits:
          cpus: 2
          memory: 2G
